[Unit]
Description=Ngrok Tunnel
After=network.target

[Service]
ExecStart=/usr/local/bin/ngrok start --config /home/pi/.config/ngrok/ngrok.yml --all
User=pi
Restart=on-failure
Environment=HOME=/home/pi

[Install]
WantedBy=multi-user.target
